* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart {
    display: flex;
    justify-content: space-evenly;
}

.cart__sidebar {
    background-color: #f2f2f2;
    border: 2px solid green;
    margin: 20px 0;
    height: fit-content;
}

.cart__menu {
    display: block;
}

.cart__content {
    padding: 20px;
}

.App {
    width: 800px;
}

.navbar {
    height: 50px;
    width: 100vw;
    align-items: center;
    display: flex;
    padding: 0 15px;
    background-color: antiquewhite;
    justify-content: space-between;
}

.linkStyle {
    text-decoration: none;
    color: green
}

.flower {
    display: flex;
    padding: 15px;
    border: 2px solid green;
    margin-top: 15px;
    align-items: center;
}

.flower-enter {
    transform: translateX(-350px);
}

.flower-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.flower-exit {
    opacity: 1;
}

.flower-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.flower__image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.cart__h3 {
    margin: 15px 10px;
}

.cart__h2 {
    margin: 15px 0px;
}

.flower__quantity {
    margin: 12px 0;
}

.flower__characters {
    font-weight: bold;
    cursor: pointer;
}

.flower__input {
    text-align: center;
    height: 30px;
    font-size: 17px;
    width: 85px;
}